<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>PetCare</title>
    {% endblock title %}   

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/menu.css">

    {% block styles %}    
    {% endblock styles %}

    <link rel="stylesheet" href="/styles/responsive.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div id="{{ pageId }}">        
        {% block content %}        
        {% endblock content %}  
    </div>
    
    {% block modal %}
    {% endblock modal %}

    

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>