<header>

    <a href="/">
        <img src="/assets/dog.svg" alt="Dog">
        <span>PetCare</span>
        <img src="/assets/cat.svg" alt="Cat">
    </a>

    <nav>    
        <div class="desktop">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href="/create-point">Cadastre seus serviços</a>
                </li>
            </ul>
        </div>

        <div class="mobile">
            <div class="wrapper">
                <input type="checkbox" class="toggler">
                <div class="bars"><div></div></div>                
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/quem-somos">Quem somos</a>
                    </li>
                    <li>
                        <a href="/create-point">Cadastre seus serviços</a>
                    </li>
                </ul>
            </div>            
        </div>        
    </nav>
</header>