body{
    background: #FFF;
}
#page-home{
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 960px;
    background: url('/assets/dogWalker.jpg') no-repeat;  
    background-position: 350px 5vh; 
    overflow: visible; 
}

main .title{
    margin-top: 24px;
}

main .body{
    width: 250px;
    margin: 48px 0;
}

main .cta{
    margin: 12px 0 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 62px;
    background: var(--purple);
    border-radius: 8px;
    color: #FFF;    
    font-weight: bold;
    overflow: hidden;
    transition: background 250ms;
    cursor: pointer;
}

main .cta a{
    flex: 1;
}

main .cta button{
    width: 62px;
    height: 62px;
    border: 0;
    border-radius: 8px 0 0 8px;
    background: var(--purple-hover);
    padding: 21px;  
    cursor: pointer;  
}

main .cta img{
    width: 100%;
}

main .cta p{
    color: #fff;
    text-align: center;
    flex:1;
}

main .cta:hover{
    background: var(--purple-hover);
}
