:root{
    font-size: 14px;
    --purple: #5a3892;
    --purple-hover: #452b70;

    --green: #00a18c;
    --green-hover: #006d5e;

    --grey: #f3f3f3;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-color: var(--grey);
}

a{
    text-decoration: none;
    color: var(--green);
    transition: color 250ms;
}
a:hover{color: var(--purple);}

p{color: #2c2c2c;}

h1, h2, h3 {color: var(--purple);}
h1{font-size: 2.5rem;}
h2{font-size: 2.0rem;}
h3{font-size: 1.5rem;}

header{
    margin: 36px 0;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

header > a{
    display: flex;
    align-items: center;
    justify-content: center;
}

header > a > img{
    width: 40px;    
}

header > a > span{
    color: var(--green);
    font-size: 2rem;
    padding: 0 7px;
    font-weight: bold;
}

.content{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 65px 0;         
}

footer{
    margin: 36px 0;
    text-align: center;
    width: 100%;
}