body{
    background: #ffffff url('../assets/dog&cat.png') fixed no-repeat;    
    background-position: 45vw 35vh;
    background-size: 470px;
}

#page-quem-somos{
    margin: auto;
    width: 100vw;
    max-width: 960px;  
}

main .title{
    margin: 36px 0;
}

main .body{
    width: 360px;
    margin-top: 24px;
}

main .body p{
    margin-top: 21px;
}